<header class="header-gradient site-header">
    <div class="content text-center">
        <a href="/" class="logo" alt="Julia Hagen"><img class="portrait" src="/img/julia.png" /></a>
        <h3>Julia Hagen</h3>
        <p>I am an postgraduate student at London School of Economics and Sciences Po Paris interested in urban policies and local development and I like to think about how to make cities better places.</p>
        <ul class="social-icons clearfix">
            <li class="social-icon"><a href="https://twitter.com/HagenJu" target="_blank" alt="@HagenJu" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="social-icon"><a href="https://uk.linkedin.com/in/julia-hagen-753a1269/en" target="_blank" alt="Linkedin" title="Join my network"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</header>
