/**
 * Generic lists
 */
ol,
ul {
    list-style-type: none;
}
li {
    line-height: 1.75em;
}

ol:first-child {
    counter-reset: ordered-list-counter;
}
ol li:before {
    content: counter(ordered-list-counter, decimal) ' ';
    font-weight: 700;
    color: $primary;
    float: left;
    width: 1em;
}
ol li {
    counter-increment: ordered-list-counter;
}

ul li:before {
    content: '• ';
    font-weight: 700;
    color: $primary;
    float: left;
    width: 1em;
}
