.post {
    margin: 80px auto;
}

.post-header {
    max-width: 940px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.post-meta {
    color: $light;
    margin: -20px 0 80px 0;
}

.post-tags {
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

.post-tag {
    color: $light;
    font-size: 10px;
    font-weight: 700;
    float: left;
    background-color: $lighter;
    display: inline-block;
    padding: 2px 6px;
    margin: -10px 10px 0 0;
}

.post-tag:before {
    content: '';
    float: none;
}

.post-tag:last-child {
    margin-right: 0;
}

.post-navigation {
    line-height: 80px;
    background-color: $lighter;
    padding: 0 40px;
}

.post-navigation a {
    color: $dark;
}

.post-navigation a:hover {
    color: $light;
}
