table {
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0 auto;
}

th {
    font-weight: normal;
    border-bottom: 1px dashed $dark;
    padding: .5em 1em;
}

td {
    color: $dark;
    padding: .5em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody tr:hover {
    background: $lighter;
}
