body,
input,
textarea {
  color: $dark;
  font: 15px/20px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Headers
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 60px;
    line-height: 72px;
    margin:80px 0 40px;
}

h2,
.h2 {
    font-size: 40px;
    line-height: 46px;
    margin:60px 0 20px;
}

h3,
.h3 {
    font-size: 26px;
    line-height: 32px;
    margin:50px 0 20px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-size: 22px;
    line-height: 32px;
    margin:40px 0 20px;
}

p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

p:last-child { margin-bottom:0; }

.text-bold { font-weight: 700; }
.text-italic { font-style: italic; }

.text-primary { color: $primary; }
.text-alt { color: $alt; }
.text-dark { color: $dark; }
.text-light { color: $light; }
.text-lighter { color: $lighter; }

.text-uppercase { text-transform: uppercase; }
.text-center { text-align: center; }

/**
 * Links
 */
a {
    color: $alt;
    text-decoration: none;
}

a:hover {
    color: lighten($alt, 20%);
    text-decoration: none;
}

/**
 * Blockquote
 */
blockquote {
    border-left: 3px solid $primary;
    font-style: italic;
}

blockquote p {
    color: $light;
    margin-left: 20px;
}

/**
 * Misc.
 */
hr {
    width: 80px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: lighten($light, 20%);
    margin: 50px auto;
}

