<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{page.title}}</title>
        <meta name="author" content="{{site.author}}">
        <meta name="description" content="{{site.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        {% include _header.html %}
        <nav class="post-navigation clearfix">
            {% if page.previous %}
            <a class="left" href="{{page.previous.url}}"><i class="fa fa-chevron-left text-alt space-right1"></i> Previous post</a>
            {% endif %}
            {% if page.next %}
            <a class="right" href="{{page.next.url}}">Next post <i class="fa fa-chevron-right text-alt space-left1"></i></a>
            {% endif %}
        </nav>
        <section>
            <article class="post">
                <header class="post-header">
                    <h1>{{page.title}}</h1>
                    <div class="post-meta">
                        <p>Posted on <date class="text-bold text-dark">{{page.date | date: "%B %e, %Y"}}</date></p>
                        <ul class="post-tags clearfix">
                            {% for tag in page.tags %}
                            <li class="post-tag">#{{tag | upcase}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </header>
                <div class="content">
                {{content}}
                </div>
            </article>
        </section>
    </body>
    {% include _scripts.html %}
</html>
